/* .week-3-container {
  border: 2px solid pink;
  margin-top: 65px;
}


.accordion-tabs {
  margin: 0 auto;
  width: 70%;
  border: 2px solid pink;
}

tab-list {
  display: none;
}

.tab-link {
  display: block;
}

tab-list a {

}
 */



.accordion-tabs {
   margin: 24px auto;
   width: 90%;
/*    border: 2px solid black;
 */   display: flex;
 }

 .tab-header {
   list-style: none;
   flex-direction: row;
   width: 250px;
   /* display: inline-block; */
 }

 .tab-link {
   display: block;
   background: #ccc;
   color: #000;
   cursor: pointer;
   padding: 10px 15px;
   margin-right: 5px;
 }

 .is-active {
   background: pink;
   color: #F2F2F2;
 }

 .tab-content {
   background: white;
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
   display: none;
   width: 500px;
   float: left;
   overflow: hidden;
   padding: 1% 3% 3% 3%;
 }
