/* .week-3-container {
  border: 2px solid pink;
  margin-top: 65px;
}


.accordion-tabs {
  margin: 0 auto;
  width: 70%;
  border: 2px solid pink;
}

tab-list {
  display: none;
}

.tab-link {
  display: block;
}

tab-list a {

}
 */
